<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="FUT15Entities_CenterDB" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_CenterDB;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
    <add name="FUT15Entities_PC" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_7;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
    <add name="FUT15Entities_PS3" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_PS3;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
    <add name="FUT15Entities_PS4" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_PS4;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
    <add name="FUT15Entities_XBox360" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_XBox360;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
    <add name="FUT15Entities_XBoxOne" connectionString="Data Source=SUQINCHEN-PC\SQL_RICHARD;Initial Catalog=FUT15_XBoxOne;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Password-1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PricingAppPath" value =".\FUT15_PricingServer\FUT15_PricingServer.exe"/>
    <add key="ConsoleAppPath" value =".\FUT15_JOBConsole\FUT15_JOBConsole.exe"/>
    <add key="ConsoleBuyContractApp" value =".\FUT15_BuyContractConsole\FUT15_BuyContractConsole.exe"/>
    <add key="GroupRunningInterval" value ="10"/>
    <add key="ConsoleJobLogPath" value=".\FUT15_JOBConsole\log"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>